<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FashionCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A8CF41A1D1684B1007E61FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A8CF42E1D1684B2007E61FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A8CF4391D1684B2007E61FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
